@model int

@{
    ViewData["Title"] = "Delete Logs";
}

<h2>Are you sure you want to delete all logs?</h2>
<a class="btn btn-default" href="/logs/all">Back</a>
<a class="btn btn-danger" href="/logs/destroy">Confirm Delete</a>
